body{
    background-color: #dbac80;
}

#anhnen{
    width: 200px;
    height: 150px;
    background-image: url(henry.png);
    position: absolute;
    left: 70px;
    background-size: cover;
    text-align: center;
}

#anhnen3{
    width: 250px;
    height: 100px;
    background-image: url(nha.png);
    position: absolute;
    top: 40px;
    left: 380px;
    background-size: contain;
    text-align: center;
    background-repeat: no-repeat;
}

#anhnen4{
    width: 200px;
    height: 100px;
    background-image: url(laliga.png);
    position: absolute;
    left: 700px;
    top: 5;
    background-size: contain;
    text-align: center;
    background-repeat: no-repeat;
}

#anhnen5{
    width: 300px;
    height: 300px;
    background-image: url(bundesliga.png);
    position: absolute;
    left: 950px;
    top: 50px;
    background-size: contain;
    text-align: center;
    background-repeat: no-repeat;
}

#anhnen2{
    width: 120px;
    height: 100px;
    background-image: url(logo.png);
    position: absolute;
    left: 210px;
    background-size: cover;
    text-align: center;
}

#timkiem2{
    position: absolute;
    left: 1100px;
    top: 142px;
}

#timkiem{
    position: absolute;
    left: 930px;
    top: 130px;
}

.button {
    background-color: rgb(8, 3, 4);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
  }

#button{
    position: absolute;
    left: 310px;
    top: 120px;
}


#list{
    position: absolute;
    top: 220px;
    left: 90px;
    background-color: #dbac80;
    font-weight: bold;    
}

#video1{
    position: absolute;
    top: 220px;
    left: 300px;
    background-color: #dbac80;
    font-weight: bold;
}
#video2{
    position: absolute;
    top: 220px;
    left: 800px;
    background-color: #dbac80;
    font-weight: bold;
    
}
#video3{
    position: absolute;
    top: 450px;
    left: 300px;
    background-color: #dbac80;
    font-weight: bold;
    
}
#video4{
    position: absolute;
    top: 450px;
    left: 800px;
    background-color: #dbac80;
    font-weight: bold;
}

a:visited{
    color: rgb(0, 0, 0);
}

a:hover{
    color: blue;
}